<h1>Payment</h1>
<p>Pay to <code><%= serverWallet %></code></p>
<form id="paymentForm" action="/payment/tx" method="post">
  <label for="tx">Transaction ID:</label>
  <input type="text" id="tx" name="tx" required><br>

  <button type="submit">Submit Payment</button>
</form>

<script>
  document.getElementById('paymentForm').onsubmit = async function(event) {
    event.preventDefault();

    const tx = document.getElementById('tx').value;
    try {
      const response = await fetch('/payment/tx', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'Accept': 'application/json'
        },
        body: JSON.stringify({
          tx: tx
        }),
        credentials: 'include'
      });

      const data = await response.json();
      if (response.ok) {
        alert('Payment successful! You have added: ' + data.balance + 'drops to your account');
        window.location.href = '/';
      } else {
        alert('Payment failed: ' + data.msg);
      }
    } catch (error) {
      console.error('Error:', error);
      alert('An error occurred.');
    }
  }
</script>